@app-header: #c00;

.App {
  padding: 1.5rem;
  text-align: center;
  .header {
    color: @app-header;
    font-size: 24pt;
    line-height: normal;
  }
}

.Todos {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
}
